데이터프레임 연결
- pandas.concat(데이터프레임의 리스트)
    - axis =옵션
        - 0 기본값 : 행방향
        - 1 : 열 방향
    - join = 옵션
        - "outer" 기본값 : 행 인덱스의 합집합
        - "inner" : 행 인덱스의 교집합
    - ignore_index = 옵션
        - False 기본값 : 기존 행 인덱스 무시안함
        - True : 기존 행인덱스 무시하고 새로 만듦
    - 구성 형태와 속성이 균일
        - 이어 붙여도 데이터의 일관성 유지

In [3]:
# <예제 6-11> 데이터프레임 연결(concatenate)

import pandas as pd

df1= pd.DataFrame({"a":["a0","a1","a2","a3"],
                  "b":["b0","b1","b2","b3"],
                  "c":["c0","c1","c2","c3"]},
                  index = [0,1,2,3])

df2 = pd.DataFrame({"a":["a2","a3","a4","a5"],
                   "b":["b2","b3","b4","b5"],
                  "c":["c2","c3","c4","c5"],
                   "d":["d2","d3","d4","d5"]},
                  index = [2,3,4,5])

print(df1, "\n")
print(df2, "\n")

# 두개의 데이터프레임을 위 아래 행 방향으로 이어붙이기
result = pd.concat([df1,df2])
print(result,"\n")

# 기존 행 인덱스 무시하고 새로운 인덱스 만듦
result = pd.concat([df1,df2],ignore_index = True)
print(result,"\n")

# 두개의 데이터프레임을 좌 우 열 방향으로 이어붙이기
result = pd.concat([df1,df2],axis =1)
print(result,"\n")

# 두개의 데이터프레임을 좌 우 열 방향, 행인덱스의 교집합만 이어붙이기
result = pd.concat([df1,df2],axis = 1, join = "inner")
print(result)

    a   b   c
0  a0  b0  c0
1  a1  b1  c1
2  a2  b2  c2
3  a3  b3  c3

    a   b   c   d
2  a2  b2  c2  d2
3  a3  b3  c3  d3
4  a4  b4  c4  d4
5  a5  b5  c5  d5

    a   b   c    d
0  a0  b0  c0  NaN
1  a1  b1  c1  NaN
2  a2  b2  c2  NaN
3  a3  b3  c3  NaN
2  a2  b2  c2   d2
3  a3  b3  c3   d3
4  a4  b4  c4   d4
5  a5  b5  c5   d5

    a   b   c    d
0  a0  b0  c0  NaN
1  a1  b1  c1  NaN
2  a2  b2  c2  NaN
3  a3  b3  c3  NaN
4  a2  b2  c2   d2
5  a3  b3  c3   d3
6  a4  b4  c4   d4
7  a5  b5  c5   d5

     a    b    c    a    b    c    d
0   a0   b0   c0  NaN  NaN  NaN  NaN
1   a1   b1   c1  NaN  NaN  NaN  NaN
2   a2   b2   c2   a2   b2   c2   d2
3   a3   b3   c3   a3   b3   c3   d3
4  NaN  NaN  NaN   a4   b4   c4   d4
5  NaN  NaN  NaN   a5   b5   c5   d5

    a   b   c   a   b   c   d
2  a2  b2  c2  a2  b2  c2  d2
3  a3  b3  c3  a3  b3  c3  d3

In [5]:
# <예제 6-11> 데이터프레임 시리즈 연결

import pandas as pd

df1 = pd.DataFrame({"a":["a0","a1","a2","a3"],
                  "b":["b0","b1","b2","b3"],
                  "c":["c0","c1","c2","c3"]},
                  index = [0,1,2,3])

df2 = pd.DataFrame({"a":["a2","a3","a4","a5"],
                   "b":["b2","b3","b4","b5"],
                  "c":["c2","c3","c4","c5"],
                   "d":["d2","d3","d4","d5"]},
                  index = [2,3,4,5])

# 시리즈 만들기
sr1 = pd.Series(["e0","e1","e2","e3"],name = "e")
sr2 = pd.Series(["f0","f1","f2"],name = "f",index = [3,4,5])
sr3 = pd.Series(["g0","g1","g2","g3"],name = "g")

# df1과 sr1을 좌우 열 방향으로 연결하기
# df에 열 하나를 추가하는것과 같다.
result = pd.concat([df1,sr1],axis = 1)
print(result,"\n")

# df2와 sr2을 좌우 열 방향으로 연결하기
result = pd.concat([df2,sr2],axis = 1)
print(result,"\n")

    a   b   c   e
0  a0  b0  c0  e0
1  a1  b1  c1  e1
2  a2  b2  c2  e2
3  a3  b3  c3  e3

    a   b   c   d    f
2  a2  b2  c2  d2  NaN
3  a3  b3  c3  d3   f0
4  a4  b4  c4  d4   f1
5  a5  b5  c5  d5   f2

In [7]:
# <예제 6-11> 시리즈 시리즈 연결

import pandas as pd

# 시리즈 만들기
sr1 = pd.Series(["e0","e1","e2","e3"],name = "e")
sr2 = pd.Series(["f0","f1","f2"],name = "f",index = [3,4,5])
sr3 = pd.Series(["g0","g1","g2","g3"],name = "g")

# sr1 과 sr3을 좌울 열 방향으로 연결하기
result = pd.concat([sr1,sr3],axis = 1)
print(result,"\n")

# sr1 과 sr3을 위 아래 행 방향으로 연결하기
result = pd.concat([sr1,sr3],axis = 0)
print(result,"\n")

    e   g
0  e0  g0
1  e1  g1
2  e2  g2
3  e3  g3

0    e0
1    e1
2    e2
3    e3
0    g0
1    g1
2    g2
3    g3
dtype: object

데이터프레임 병합
- pandas.merge( df_left, df_right)
    - how = 옵션
        - "inner" 기본값 : 기준이 되는 열의 데이터가 양쪽에 공통으로 존재하는 교집합만 추출
        - "outer" : 합집합 추출
        - "left" : 왼쪽 데이터의 키 열에 속하는 데이터값을 기준으로 병합
    - on = 옵션
        - None 기본값 : 양쪽에 공통으로 속하는 모든 열을 기준으로 병합
        - "열 이름" : 해당 열을 기준으로 병합
        - left on,right on : 옵션:
            - 좌우 데이터프레임에 각각 다르게 key 지정
- 어떤 기준(key)에 의해 두 데이터프레임을 병합
    - 기준(key)는 반드시 양쪽 데이터프레임에 있어야 한다.

In [3]:
# 예제 6-12> 데이터프레임합치기

import pandas as  pd

# IPython 디스플레이 설정 변경
pd.set_option("display.max_columns",10)
pd.set_option("display.max_colwidth",20)
pd.set_option("display.unicode.east_asian_width",True)

# 주식 데이터 가져오기
df1 = pd.read_excel("./stock price.xlsx")
df2 = pd.read_excel("./stock valuation.xlsx")

print(df1)
print("\n")
print(df2)

# 데이터프레임합치기 - 교집합
result = pd.merge(df1,df2)
print(result)

print("\n")

# 데이터프레임 합치기 - 합집합
result = pd.merge(df1,df2,on = "id",how = "outer")
print(result)

print("\n")

# 데이터프레임 합치기 - 왼쪽 데이터프레임 기준, 키값 분리
# 왼쪽 df의 "stock_name" 이 기준
result = pd.merge(df1,df2,how = "left",left_on = "stock_name",right_on = "name")
print(result)

print("\n")

# 데이터프레임 합치기 - 오른쪽 데이터프레임기준, 키 값 분리
# 오른쪽 df의 "name" 이 기준
result = pd.merge(df1,df2,how = "right",left_on = "stock_name",right_on = "name")
print(result)

print("\n")

# 불린 인덱싱과 결합하여 원하는 데이터 찾기
price = df1[df1["price"]<50000]
print(price.head())
print("\n")

value = pd.merge(price,df2)
print(value)

       id    stock_name          value   price
0  128940      한미약품   59385.666667  421000
1  130960        CJ E&M   58540.666667   98900
2  138250    엔에스쇼핑   14558.666667   13200
3  139480        이마트  239230.833333  254500
4  142280  녹십자엠에스     468.833333   10200
5  145990        삼양사   82750.000000   82000
6  185750        종근당   40293.666667  100500
7  192400    쿠쿠홀딩스  179204.666667  177500
8  199800          툴젠   -2514.333333  115400
9  204210  모두투어리츠    3093.333333    3475


       id              name           eps     bps        per       pbr
0  130960            CJ E&M   6301.333333   54068  15.695091  1.829178
1  136480              하림    274.166667    3551  11.489362  0.887074
2  138040    메리츠금융지주   2122.333333   14894   6.313806  0.899691
3  139480            이마트  18268.166667  295780  13.931338  0.860437
4  145990            삼양사   5741.000000  108090  14.283226  0.758627
5  161390        한국타이어   5648.500000   51341   7.453306  0.820007
6  181710   NHN엔터테인먼트   2110.166667   78434  30.755864  0.827447
7  185750            종근당   3990.333333   40684  25.185866  2.470259
8  204210      모두투어리츠     85.166667    5335  40.802348  0.651359
9  207940  삼성바이오로직스   4644.166667   60099  89.790059  6.938551
       id    stock_name          value   price          name           eps  \
0  130960        CJ E&M   58540.666667   98900        CJ E&M   6301.333333
1  139480        이마트  239230.833333  254500        이마트  18268.166667
2  145990        삼양사   82750.000000   82000        삼양사   5741.000000
3  185750        종근당   40293.666667  100500        종근당   3990.333333
4  204210  모두투어리츠    3093.333333    3475  모두투어리츠     85.166667

      bps        per       pbr
0   54068  15.695091  1.829178
1  295780  13.931338  0.860437
2  108090  14.283226  0.758627
3   40684  25.185866  2.470259
4    5335  40.802348  0.651359


        id    stock_name          value     price              name  \
0   128940      한미약품   59385.666667  421000.0               NaN
1   130960        CJ E&M   58540.666667   98900.0            CJ E&M
2   138250    엔에스쇼핑   14558.666667   13200.0               NaN
3   139480        이마트  239230.833333  254500.0            이마트
4   142280  녹십자엠에스     468.833333   10200.0               NaN
5   145990        삼양사   82750.000000   82000.0            삼양사
6   185750        종근당   40293.666667  100500.0            종근당
7   192400    쿠쿠홀딩스  179204.666667  177500.0               NaN
8   199800          툴젠   -2514.333333  115400.0               NaN
9   204210  모두투어리츠    3093.333333    3475.0      모두투어리츠
10  136480           NaN            NaN       NaN              하림
11  138040           NaN            NaN       NaN    메리츠금융지주
12  161390           NaN            NaN       NaN        한국타이어
13  181710           NaN            NaN       NaN   NHN엔터테인먼트
14  207940           NaN            NaN       NaN  삼성바이오로직스

             eps       bps        per       pbr
0            NaN       NaN        NaN       NaN
1    6301.333333   54068.0  15.695091  1.829178
2            NaN       NaN        NaN       NaN
3   18268.166667  295780.0  13.931338  0.860437
4            NaN       NaN        NaN       NaN
5    5741.000000  108090.0  14.283226  0.758627
6    3990.333333   40684.0  25.185866  2.470259
7            NaN       NaN        NaN       NaN
8            NaN       NaN        NaN       NaN
9      85.166667    5335.0  40.802348  0.651359
10    274.166667    3551.0  11.489362  0.887074
11   2122.333333   14894.0   6.313806  0.899691
12   5648.500000   51341.0   7.453306  0.820007
13   2110.166667   78434.0  30.755864  0.827447
14   4644.166667   60099.0  89.790059  6.938551


     id_x    stock_name          value   price      id_y          name  \
0  128940      한미약품   59385.666667  421000       NaN           NaN
1  130960        CJ E&M   58540.666667   98900  130960.0        CJ E&M
2  138250    엔에스쇼핑   14558.666667   13200       NaN           NaN
3  139480        이마트  239230.833333  254500  139480.0        이마트
4  142280  녹십자엠에스     468.833333   10200       NaN           NaN
5  145990        삼양사   82750.000000   82000  145990.0        삼양사
6  185750        종근당   40293.666667  100500  185750.0        종근당
7  192400    쿠쿠홀딩스  179204.666667  177500       NaN           NaN
8  199800          툴젠   -2514.333333  115400       NaN           NaN
9  204210  모두투어리츠    3093.333333    3475  204210.0  모두투어리츠

            eps       bps        per       pbr
0           NaN       NaN        NaN       NaN
1   6301.333333   54068.0  15.695091  1.829178
2           NaN       NaN        NaN       NaN
3  18268.166667  295780.0  13.931338  0.860437
4           NaN       NaN        NaN       NaN
5   5741.000000  108090.0  14.283226  0.758627
6   3990.333333   40684.0  25.185866  2.470259
7           NaN       NaN        NaN       NaN
8           NaN       NaN        NaN       NaN
9     85.166667    5335.0  40.802348  0.651359


       id_x    stock_name          value     price    id_y              name  \
0  130960.0        CJ E&M   58540.666667   98900.0  130960            CJ E&M
1  139480.0        이마트  239230.833333  254500.0  139480            이마트
2  145990.0        삼양사   82750.000000   82000.0  145990            삼양사
3  185750.0        종근당   40293.666667  100500.0  185750            종근당
4  204210.0  모두투어리츠    3093.333333    3475.0  204210      모두투어리츠
5       NaN           NaN            NaN       NaN  136480              하림
6       NaN           NaN            NaN       NaN  138040    메리츠금융지주
7       NaN           NaN            NaN       NaN  161390        한국타이어
8       NaN           NaN            NaN       NaN  181710   NHN엔터테인먼트
9       NaN           NaN            NaN       NaN  207940  삼성바이오로직스

            eps     bps        per       pbr
0   6301.333333   54068  15.695091  1.829178
1  18268.166667  295780  13.931338  0.860437
2   5741.000000  108090  14.283226  0.758627
3   3990.333333   40684  25.185866  2.470259
4     85.166667    5335  40.802348  0.651359
5    274.166667    3551  11.489362  0.887074
6   2122.333333   14894   6.313806  0.899691
7   5648.500000   51341   7.453306  0.820007
8   2110.166667   78434  30.755864  0.827447
9   4644.166667   60099  89.790059  6.938551


       id    stock_name         value  price
2  138250    엔에스쇼핑  14558.666667  13200
4  142280  녹십자엠에스    468.833333  10200
9  204210  모두투어리츠   3093.333333   3475


       id    stock_name        value  price          name        eps   bps  \
0  204210  모두투어리츠  3093.333333   3475  모두투어리츠  85.166667  5335

         per       pbr
0  40.802348  0.651359

데이터프레임 결합
- 병합(merge) 함수를 기반으로 만들어짐
- 행 인덱스를 기준으로 결합
- df1.join(df2)
    - how = 옵션
        - "left" 기본값 : 왼쪽 데이터의 행 인덱스를 기준
        - "inner" : 두 데이터의 공통으로 존재하는 행인덱스를 기준

In [2]:
# <예제 6-13> 데이터프레임 합치기(join)

import pandas as pd

# IPython 디스플레이 설정변경
pd.set_option("display.max_columns",10)
pd.set_option("display.max_colwidth",20)
pd.set_option("display.unicode.east_asian_width",True)

# 주식 데이터 가져와서 데이터프레임 만들기
# 행 인덱스를 "id" 열로 설정
df1 = pd.read_excel("./stock price.xlsx",index_col = "id")
df2 = pd.read_excel("./stock valuation.xlsx",index_col = "id")

#데이터프레임 결합 - df1의 행 인덱스 기준
result = df1.join(df2)
print(result,"\n")

# 데이터프레임 결합 - df1 과 df2의 행인덱스 교집합 기준
result = df1.join(df2,how = "inner")
print(result)

          stock_name          value   price          name           eps  \
id
128940      한미약품   59385.666667  421000           NaN           NaN
130960        CJ E&M   58540.666667   98900        CJ E&M   6301.333333
138250    엔에스쇼핑   14558.666667   13200           NaN           NaN
139480        이마트  239230.833333  254500        이마트  18268.166667
142280  녹십자엠에스     468.833333   10200           NaN           NaN
145990        삼양사   82750.000000   82000        삼양사   5741.000000
185750        종근당   40293.666667  100500        종근당   3990.333333
192400    쿠쿠홀딩스  179204.666667  177500           NaN           NaN
199800          툴젠   -2514.333333  115400           NaN           NaN
204210  모두투어리츠    3093.333333    3475  모두투어리츠     85.166667

             bps        per       pbr
id
128940       NaN        NaN       NaN
130960   54068.0  15.695091  1.829178
138250       NaN        NaN       NaN
139480  295780.0  13.931338  0.860437
142280       NaN        NaN       NaN
145990  108090.0  14.283226  0.758627
185750   40684.0  25.185866  2.470259
192400       NaN        NaN       NaN
199800       NaN        NaN       NaN
204210    5335.0  40.802348  0.651359

          stock_name          value   price          name           eps  \
id
130960        CJ E&M   58540.666667   98900        CJ E&M   6301.333333
139480        이마트  239230.833333  254500        이마트  18268.166667
145990        삼양사   82750.000000   82000        삼양사   5741.000000
185750        종근당   40293.666667  100500        종근당   3990.333333
204210  모두투어리츠    3093.333333    3475  모두투어리츠     85.166667

           bps        per       pbr
id
130960   54068  15.695091  1.829178
139480  295780  13.931338  0.860437
145990  108090  14.283226  0.758627
185750   40684  25.185866  2.470259
204210    5335  40.802348  0.651359